.header {
  background: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLink {
  padding: 24px 0;
}
.logo {
  width: 104px;
  height: 16px;
}
