.wrapper {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
}

.titleForm {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--color-dark);
}

.subtitle {
  line-height: 1.25;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  position: relative;
  height: 48px;
  line-height: 1.25;
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background: var(--color-bg-soft);
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-family: inherit;
  color: var(--color-dark);
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-soft) inset;
  -webkit-text-fill-color: var(--color-dark);
  border: none;
  border-radius: 12px;
}

.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-soft) inset;
  -webkit-text-fill-color: var(--color-dark);
  border: none;
  border-radius: 12px;
}

.input:-moz-autofill,
.input:-moz-autofill:hover,
.input:-moz-autofill:focus {
  background-color: var(--color-bg-soft) !important;
  color: var(--color-dark) !important;
  border: none;
  border-radius: 12px;
}

.inputError {
  border: 1px solid #d9534f !important;
  background: var(--color-bg-soft) !important;
}

.inputError:-webkit-autofill,
.inputError:-webkit-autofill:hover,
.inputError:-webkit-autofill:focus,
.inputError:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-soft) inset !important;
  -webkit-text-fill-color: var(--color-dark) !important;
  border: 1px solid #d9534f !important;
  border-radius: 12px;
}

.inputError:-moz-autofill,
.inputError:-moz-autofill:hover,
.inputError:-moz-autofill:focus {
  background-color: #fdf7f7 !important;
  color: var(--color-dark) !important;
  border: 1px solid #d9534f !important;
  border-radius: 12px;
}

.textarea {
  height: 88px;
  resize: vertical;
  font-family: inherit;
}

.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:focus,
.textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-soft) inset;
  -webkit-text-fill-color: var(--color-dark);
  border: none;
  border-radius: 12px;
}

.formBtn {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
  border-radius: 12px;
  width: 156px;
  border: none;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 8px auto 0;
  font-family: inherit;
}

.formBtn:hover {
  background: var(--color-primary-dark);
}

.formBtn:active {
  transform: translateY(0);
}

.buttonLoading {
  background: var(--color-primary-dark);
  cursor: wait;
}

.error {
  position: absolute;
  top: 48px;
  left: 10px;
  color: #d9534f;
  font-size: 12px;
  font-weight: 500;
}

.datePickerContainer {
  width: 100%;
  position: relative;
}

.input:focus {
  background: var(--color-bg-soft);
  outline: none;
}

:global(.custom-datepicker-wrapper) {
  width: 100%;
  position: relative;
}

:global(.custom-datepicker-popper) {
  z-index: 1000;
}

:global(.react-datepicker) {
  border-radius: 12px !important;
  overflow: hidden !important;
  border: 1px solid var(--color-primary) !important;
  background: var(--color-white);
}

:global(.react-datepicker__header) {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-primary) !important;
  padding: 0 !important;
}

:global(.react-datepicker__month-container) {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

:global(.react-datepicker__month) {
  width: 276px;
  margin: 0 auto;
}

.customHeader {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  background: var(--color-white);
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.monthYear {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  text-transform: uppercase;
}

.navButton {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

:global(.custom-nav-button) {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.custom-nav-button.custom-nav-prev) {
  padding: 4px 8px 4px 7px !important;
}

:global(.custom-nav-button.custom-nav-next) {
  padding: 4px 7px 4px 8px !important;
}

:global(.custom-nav-button:hover:not(:disabled)) {
  background: #f5f5f5;
}

:global(.custom-nav-button:disabled) {
  color: #ccc;
}

:global(.iconArrow),
:global(.iconArrowRotate) {
  fill: var(--color-primary);
  width: 9px;
  height: 16px;
}

:global(.iconArrowRotate) {
  transform: rotate(180deg);
}

.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 8px;
}

.weekDay {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.react-datepicker__day-names) {
  margin-bottom: -15px !important;
}

:global(.custom-datepicker-month) {
  padding: 0 16px 16px;
}
:global(.react-datepicker__month) {
  margin: 0 !important;
  padding: 12px !important;
}

:global(.custom-datepicker-week) {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

:global(.react-datepicker__day) {
  min-width: 36px !important;
  width: 36px !important;
  max-width: 36px !important;
  min-height: 32px !important;
  height: 32px !important;
  max-height: 32px !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 32px !important;
  font-size: 14px;
  font-weight: 400 !important;
  color: #1a1a1a;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.2s ease;
  line-height: 1 !important;
  box-sizing: border-box !important;
}

:global(.react-datepicker__day),
:global(.react-datepicker__day--today),
:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--disabled),
:global(.react-datepicker__day--outside-month),
:global(.react-datepicker__day--keyboard-selected) {
  width: 36px !important;
  height: 32px !important;
  border-radius: 32px !important;
}

:global(.custom-datepicker-day:hover) {
  background: #f8f9fa;
  border-color: #e0e0e0;
}

:global(.custom-datepicker-day--today) {
  background: #f0f0f0 !important;
  font-weight: 600 !important;
  color: #1a1a1a !important;
}

:global(.react-datepicker__day--today:not(.custom-datepicker-day--today)) {
  background: transparent !important;
  color: #1a1a1a !important;
  font-weight: normal !important;
}

:global(.custom-datepicker-day--outside-month) {
  color: #8d929a !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

:global(.custom-datepicker-day--disabled) {
  color: #8d929a !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  width: 36px !important;
  height: 32px !important;
}

:global(.react-datepicker__day--outside-month),
:global(.react-datepicker__day--disabled) {
  pointer-events: none !important;
  color: #8d929a !important;
}

:global(.react-datepicker__day--selected) {
  background: var(--color-primary) !important;
  color: white !important;
}

:global(
    .react-datepicker__day--keyboard-selected:not(.custom-datepicker-day--today)
  ) {
  color: #1a1a1a !important;
  background-color: transparent !important;
  border-radius: 32px !important;
}

:global(
    .react-datepicker__day--keyboard-selected:not(
        .custom-datepicker-day--today
      ):not([aria-disabled="true"]):hover
  ) {
  color: #1a1a1a !important;
  background-color: #f8f9fa !important;
}

:global(
    .react-datepicker__day--keyboard-selected.custom-datepicker-day--today
  ) {
  color: #1a1a1a !important;
  background-color: #f0f0f0 !important;
}

:global(
    .react-datepicker__day--keyboard-selected.custom-datepicker-day--today:hover
  ) {
  color: #1a1a1a !important;
  background-color: #e0e0e0 !important;
}

:global(.react-datepicker__triangle) {
  display: none !important;
}

:global(.custom-datepicker-popper[data-placement^="bottom"]::before) {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--color-primary);
  z-index: 10;
}

:global(.custom-datepicker-popper[data-placement^="bottom"]::after) {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 11;
}

:global(.custom-datepicker-popper[data-placement^="top"]::before) {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--color-primary);
  z-index: 10;
}

:global(.custom-datepicker-popper[data-placement^="top"]::after) {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  z-index: 11;
}
