.hero {
  min-height: 100vh;
  border-top: 4px solid var(--color-white);
  background-image: url("/img/picture-car.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 440px 0 60px;
  height: 700px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url(/img/picture-car@2x.webp);
  }
}

.hero h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 16px;
}

.hero p {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 40px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}
