.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 12px;
  font-weight: 400;
  color: #8a8a89;
}

/* Верхній блок (видима частина) */
.selectBox {
  position: relative;
  width: 204px;
}

/* Кнопка */
.selected {
  width: 100%;
  padding: 12px 64px 12px 16px;

  background-color: var(--color-bg-soft);
  border-radius: 14px;
  border: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-dark);
  text-align: left;

  cursor: pointer;
  transition: border-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected:hover {
  border-color: #cfd1d4;
}

.selected:focus {
  outline: 2px solid #cfd1d4;
  outline-offset: 0;
}

.arrow {
  transition: transform 0.25s ease;
  position: absolute;
  top: 14px;
  right: 14px;
}

.arrowOpen {
  transform: rotate(180deg);
}

/* Dropdown */
.options {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;

  background: #fff;
  border-radius: 14px;
  padding: 16px 0;

  max-height: 260px;
  overflow-y: auto;

  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.12);
  z-index: 100;
}

.options:focus {
  outline: 2px solid #cfd1d4;
  outline-offset: 0;
}

/* Scrollbar */
.options::-webkit-scrollbar {
  width: 6px;
}
.options::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

/* Option */
.option {
  padding: 10px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-gray);
  cursor: pointer;
  transition: background 0.2s ease;
}

.option:hover {
  background: #f3f4f6;
}

.activeOption {
  color: var(--color-dark);
}
